{% if app.user %}
    {% for bookmark in Bookmarks %}
        <div class="mj-carousel-item">
            <div class="card border-light bookmark-card annimation-card">
                <a href="{{ path('shop.index', {'id': bookmark.id}) }}">
                    <img src="{{ bookmark.picture }}" class="card-img-top mj-img-top" alt="ShopImage">
                </a>
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <h5 class="card-title">{{ bookmark.name }}</h5>
                        </div>
                        <div class="col-2">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <!-- Bouton favoris à revoir -->
                                {% if bookmark in app.user.bookmarks %}
                                    <a href="{{ path('user.addBookmarks', {'id': bookmark.id}) }}">
                                        <i class="far fa-heart mj-bookmark-icon d-none bookmark-button"></i>
                                    </a>
                                    <a href="{{ path('user.removeBookmarks', {'id': bookmark.id}) }}">
                                        <i class="fas fa-heart mj-bookmark-icon bookmark-button"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ path('user.addBookmarks', {'id': bookmark.id}) }}">
                                        <i class="far fa-heart mj-bookmark-icon bookmark-button"></i>
                                    </a>
                                    <a href="{{ path('user.removeBookmarks', {'id': bookmark.shop.id}) }}">
                                        <i class="fas fa-heart mj-bookmark-icon d-none bookmark-button"></i>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">30 - 20 min</h6>
                    <p class="card-text mj-card-text">
                        {{ bookmark.description|slice('0', '100') }}
                    </p>
                    <p class="mj-title-bookmarks">
                        <i class="fas fa-map-marker-alt"></i> {{ bookmark.user.city }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="row p-3">
        <div class="col-12 m-3">
            <div class="alert alert-primary mj-alert shadow">
                <p>Connectez-vous pour ajouter des boutiques a vos favoris !</p>
            </div>
        </div>
    </div>
{% endif %}

