<header>
    <nav class="navbar navbar-expand-md navbar-mj-secondary py-2 shadow sticky-top">
        <div class="container-fluid">

            <!-- logo -->
            <a class="navbar-brand" href="{{ path('home.index') }}">
                <img src="{{ asset('assets/img/mj-icons/logo-blanc.png') }}" height="48px" alt="">
            </a>

            <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('home.index') }}">Site public</a>
                </ul>

                <!-- TODO: Creation de compte, login, logout -->


                <ul class="navbar-nav">
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <!-- is_granted("ROLE_SHOP") -->
                    <li class="nav-item">
                        <a href="{{ path('dashboard.index') }}" class="nav-link">Tableau de bord</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">Se deconnecter</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">S'authentifier</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
</header>